[
    ""
    " "
    "a"
    "\n"
    "\r"
    "x\rx\nx\tx\fx"
    "\""

    "\#"

    "a b
    c d"

    "
    a b
    c d"

    "a b
    c d
    "

    "
    a b c d
    "

    "a b  
  c d"

    "a b
    
    c d"

    "a b\
    c d"

    "a b \
    c d"

    ''
    'a'
    '\n'
    '\r'
    'x\rx\nx\tx\fx'

    """"""
    """ """

    """
    """

    """

    """

    """
    a
    """

    """x\rx\nx\tx\fx"""

    """x\rx\nx\tx\fx
    """

    """
    x\rx\nx\tx\fx
    """

    """
    a
    b
    """

    """
    a
      b
    """

    """
      a
    b
    """

    """
  a
    b
    """

    """
  a\
    b
    """
]